/* Add CSS Styling */
.odd {
    background-color: rgb(199, 119, 119);
    font-family: "Verdana", "DejaVu Sans", "sans_serif";
}

.adjust-size {
    font-size: 24px;
}

#second {
    color: rgb(0, 102, 255);
    font-size: 36px;
}

#fourth {
    background-color: rgb(19, 209, 28);
    font-weight: bold;
}