body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 16px auto;
}

.card>* {
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  margin-left: auto;
  text-align: center;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background: white;
  border: 1px solid #eee;
}